p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
}
h1{
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 500;

    &:hover {
        text-decoration: none;
        color: $russian-green;
    }
}

.nav-item {
    font-size: smaller;
}
