section.main {
    margin-top: 75px;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

@media screen and (max-width: 992px) {
    section.main{
        margin-top: 99px;
    }
}

@media screen and (max-width: 768px) {
    section.main{
        margin-top: 61px;
    }
}