.btn-primary {
    color: white;
    background-color: $russian-green;
    border-color: $russian-green;

    &:hover {
        color: white;
        background-color: $russian-green_hover;
        border-color: $russian-green_hover;
    }

    &:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        color: white;
        background-color: $russian-green_active;
        border-color: $russian-green_active;
    }

    &:focus,
    .btn-primary.focus {
        color: white;
        background-color: $russian-green_hover;
        border-color: $russian-green_hover;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }
}
