.about-section {

    .team {
        padding-bottom: 70px;
    }

    .team .section-title {
        text-align: left;
        margin-bottom: 50px
    }

    .team__item {
        height: 480px;
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
        overflow: hidden;
        background-position: center;
        background-size: cover
    }

    .team__item:after {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(111, 146, 90, 0.8);
        content: "";
        z-index: -1;
        opacity: 0;
        -webkit-transition: all, 0.5s, ease-out, .5s;
        -o-transition: all, 0.5s, ease-out, .5s;
        transition: all, 0.5s, ease-out, .5s
    }

    .team__item:hover:after {
        opacity: 1
    }

    .team__item:hover .team__text {
        top: 0
    }

    .team__item:hover .team__text .team__title {
        border-bottom: 1px solid rgba(183, 183, 183, 0.2);
        padding: 0 0 26px;
        margin-bottom: 26px;
        opacity: 0;
        visibility: hidden;
        position: relative;
        bottom: initial;
        opacity: 1;
        visibility: visible
    }

    .team__item:hover .team__text p {
        top: 0;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .5s ease .3s;
        -o-transition: all .5s ease .3s;
        transition: all .5s ease .3s
    }

    .team__item:hover .team__text .team__social {
        opacity: 1;
        visibility: visible;
        bottom: 34px;
        -webkit-transition: all .5s ease .5s;
        -o-transition: all .5s ease .5s;
        transition: all .5s ease .5s
    }

    .team__text {
        height: 100%;
        top: 361px;
        position: relative;
        padding: 35px 30px 30px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s
    }

    .team__text .team__title {
        border-bottom: 1px solid rgba(183, 183, 183, 0.2);
        padding: 0 0 26px;
        margin-bottom: 26px;
        position: relative
    }

    .team__text .team__title h4 {
        color: white;
        font-weight: 700;
        margin-bottom: 6px
    }

    .team__text .team__title span {
        font-size: 15px;
        color: white;
    }

    .team__text p {
        color: white;
        line-height: 26px;
        opacity: 0;
        visibility: hidden;
        position: relative;
        top: 50px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s
    }

    .team__text .team__social {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 30px;
        bottom: 0;
        opacity: 0;
        visibility: hidden
    }

    .team__text .team__social a {
        display: inline-block;
        font-size: 20px;
        color: white;
        margin-right: 34px;
        -webkit-transition: all, .3s;
        -o-transition: all, .3s;
        transition: all, .3s
    }

    .team__text .team__social a:last-child {
        margin-right: 0
    }

    .team__text .team__social a:hover {
        color: black;
    }

    @media(max-width:768px) {
        .team__item {
            height: 350px
        }

        .team__text {
            padding: 25px 20px 20px
        }
    }
}
