.calendar-section {
    .container {
        padding: 10px;

        span.material-icons {
            font-size: 35px;
        }
    }

    ul li {
        list-style: none;

    }

    a {
        &:hover {
            color: black;
            text-decoration: none;
        }

        .card {
            .embed-responsive .card-img-top {
                object-fit: cover;
            }

            h5,
            p {
                margin-bottom: 0.5rem;
            }

            .card-date {
                color: $russian-green;
                font-weight: 500;
            }
        }

    }
}
