.functions-section {
    h1 {
        color: $russian-green;
    }

    .card-1 {
            border-bottom: 4px solid #254A59;
    }

    .card-2 {
            border-bottom: 4px solid #548119;
    }

    .card-3 {
            border-bottom: 4px solid #8E3C4C;
    }

    .card-4 {
            border-bottom: 4px solid #A0B99B;
    }

    .card-5 {
            border-bottom: 4px solid #2D2017;
    }

    .card-6 {
            border-bottom: 4px solid #728456;
    }

    p{
        margin-bottom: 2rem;
    }
}
