footer {
    color: white;

    img {
        width: 300px;
    }

    .footer-top {
        background-color: black;
        padding: 20px 0;

        p {
            margin-bottom: 0.3rem;
        }
    }

    .footer-copyright {
        background-color: black;
        padding-bottom: 20px;

        p {
            margin-bottom: 0;
        }
    }

    a {
        color: white;

        &.site-logo {
            font-size: 26px;
            font-weight: 800;
            text-transform: uppercase;
            text-decoration: none;
            text-transform: uppercase;

        }

        &:hover {
            text-decoration: none;
            color: $russian-green;
        }
    }
}
