/* navbar regular css start */

.navbar-area {
    background: white;
    border-bottom: 1px solid black;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.site-logo {
        font-size: 26px;
        font-weight: 800;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            a {
                color: black;
                padding: 25px;
                display: block;
                text-decoration: none;
                font-weight: 400;

                &.active{
                    font-weight: 600;
                }
            }

            &.admin-mobile {
                display: none;
            }

            &.admin-desktop {
                border-left: 1px solid black;

                span {
                    float: left;
                    margin-right: 0.2rem;
                }
            }
        }
    }

}

/* navbar regular css end */

/* nav-toggler css start */

.nav-toggler {
    border: 3px solid black;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;

    span {
        width: 28px;
        height: 3px;
        background-color: black;
        display: block;
        transition: .3s;

        &:before,
        &:after {
            width: 28px;
            height: 3px;
            background-color: black;
            display: block;
            transition: .3s;
        }

        &:before {
            content: '';
            transform: translateY(-9px);
        }

        &:after {
            content: '';
            transform: translateY(6px);
        }
    }

    &.toggler-open span {
        background-color: transparent;

        &:before {
            transform: translateY(0px) rotate(45deg);
        }

        &:after {
            transform: translateY(-3px) rotate(-45deg);
        }
    }
}

/* nav-toggler css start */

/* mobile breakpoint start */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 720px;
    }

    /* navbar css for mobile start */

    .nav-toggler {
        display: block;
    }

    .site-navbar {
        min-height: 60px;

        ul {
            position: absolute;
            width: 100%;
            height: calc(100vh - 60px);
            left: 0;
            top: 60px;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid #444;
            background-color: rgba(0, 0, 0, 0.8);
            max-height: 0;
            overflow: hidden;
            transition: .3s;

            li {
                width: 100%;
                text-align: center;

                a {
                    padding: 25px;
                    color: white;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }

                &.admin-mobile {
                    display: block;
                }

                &.admin-desktop {
                    display: none;
                }
            }

            &.open {
                max-height: 100vh;
                overflow: visible;
            }
        }
    }

    .intro-area h2 {
        font-size: 36px;
        margin-bottom: 15px;
    }

    /* navbar css for mobile end */
}

/* mobile breakpoint end */
